<?xml version='1.0' encoding='UTF-8' standalone='no'?>
<doxygen xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="compound.xsd" version="1.12.0" xml:lang="en-US">
  <compounddef id="classbackend_1_1_mappers_1_1_postcard_mapper" kind="class" language="C#" prot="public">
    <compoundname>backend::Mappers::PostcardMapper</compoundname>
    <sectiondef kind="public-static-func">
      <memberdef kind="function" id="classbackend_1_1_mappers_1_1_postcard_mapper_1a5fccb03213b31e067deade00382d7932" prot="public" static="yes" const="no" explicit="no" inline="yes" virt="non-virtual">
        <type><ref refid="classbackend_1_1_dtos_1_1_postcard_1_1_postcard_dto" kindref="compound">PostcardDto</ref></type>
        <definition>static PostcardDto backend.Mappers.PostcardMapper.ToDto</definition>
        <argsstring>(Postcard postcard)</argsstring>
        <name>ToDto</name>
        <qualifiedname>backend.Mappers.PostcardMapper.ToDto</qualifiedname>
        <param>
          <type><ref refid="classbackend_1_1_models_1_1_postcard" kindref="compound">Postcard</ref></type>
          <declname>postcard</declname>
        </param>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="C:/PROGI/travel-tales-app/backend/Mappers/PostcardMappers.cs" line="8" column="35" bodyfile="C:/PROGI/travel-tales-app/backend/Mappers/PostcardMappers.cs" bodystart="8" bodyend="18"/>
      </memberdef>
    </sectiondef>
    <briefdescription>
    </briefdescription>
    <detaileddescription>
    </detaileddescription>
    <location file="C:/PROGI/travel-tales-app/backend/Mappers/PostcardMappers.cs" line="6" column="19" bodyfile="C:/PROGI/travel-tales-app/backend/Mappers/PostcardMappers.cs" bodystart="7" bodyend="31"/>
    <listofallmembers>
      <member refid="classbackend_1_1_mappers_1_1_postcard_mapper_1a5fccb03213b31e067deade00382d7932" prot="public" virt="non-virtual"><scope>backend::Mappers::PostcardMapper</scope><name>ToDto</name></member>
    </listofallmembers>
  </compounddef>
</doxygen>
